.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
}

.contact-container h1 {
    text-align: center;
}

.contact-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.contact-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-text {
    margin-left: 60px;
    margin-bottom: 25px;
    font-family: OpenSans;
    font-size: 25px;
}

.contact-text a {
    text-decoration: none;
    color: black;
}

.contact-text a:hover {
    text-decoration: underline;
    color: #8b1000;
}

.fa-icon {
    margin-bottom: 20px;
}