.blurb-container {
    display: flex;
    margin-top: 90px;
    gap: 15px;
}

@media screen and (max-width: 800px) {

    .blurb-container {
        flex-wrap: wrap;
        gap: 0px;
    }
    
    .bio-container {
        flex: 1 0 100%;
    }

    .main-text-container {
        flex: 1 0 100%;
    }
}

/** Photo styling **/
.bio-container {
    flex: .5;
}

.ava-pic {
    width: 100%;
}

/** Text styling **/
.main-text-container {
    text-align: left;
    flex: .5;
}

.main-desc{
    width: 100%;
    font-size: 50px;
    font-family: Merriweather;
}

.desc-subtext {
    margin-top: 40px;
    font-size: 20px;
    font-family: OpenSans;
}

.learn-more-btn {
    margin-top: 20px;
    height: 45px;
    width: 120px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: #8b1000;
    border-radius: 15px;
    font-family: OpenSans;
}